extends loyout
block content
  h2 Доходи за період 
  h3 #{date}
   
  ul
  each val, id in profit
    li
      span= val.income 
      | 
      span=val.sum + " " + "грн."
  h3 Ваші доходи за #{date} становлять #{priseSuma} грн.
  p
    a(href="/") ГОЛОВНА
  p
    a(href="calendar") Показати ДОХІД/ВИДАТОК-
